@model IEnumerable<Exam>

@{
    ViewData["Title"] = "Index";
}
@section Styles{
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
}

<header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
    <div class="container-xl px-4">
        <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto mt-4">
                    <h1 class="page-header-title">
                        <span class="page-header-icon"><i data-feather="filter"></i></span>
                        Sınavlar
                    </h1>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container-xl px-4 mt-n10">
    <div class="card card-header-actions mb-4">
        <div class="card-header">
            Sınav Listesi
        </div>
        <div class="card-body">
            <table id="datatablesSimple" class="table">
                <thead>
                    <tr>
                        <th>Kategori</th>
                        <th>Adı</th>
                        <th>Açıklaması</th>
                        <th>Süresi</th>
                        <th>Başlangıç Tarihi</th>
                        <th>Bitiş Tarihi</th>                        
                        <th>Durumu</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr data-id="@item.Id">
                        <td>@item.Category.Title</td>
                        <td>@item.Title</td>
                        <td>@item.Description</td>
                        <td>@item.Time</td>
                        <td>@item.StartDate.ToString("MM/dd/yyyy HH:mm")</td>
                        <td>@item.EndDate.ToString("MM/dd/yyyy HH:mm")</td>
                        <td>
                            @if (item.IsActived && item.TimeSpan > 0)
                            {
                                <div class="badge bg-primary text-white rounded-pill">Aktif</div>
                            }
                            else
                            {
                                <div class="badge bg-danger text-white rounded-pill">Aktif Değil</div>
                            }
                        </td>
                        <td>
                            @if (item.IsActived && item.TimeSpan > 0)
                            {
                                <a asp-action="Exam" asp-route-id="@item.Id" class="btn btn-datatable btn-icon btn-transparent-dark"><i data-feather="play"></i></a>
                            }
                            else
                            {
                                
                            }
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="~/assets-cms/js/datatables/datatables-simple-demo.js"></script>
}
