@* @model AppSeoVM
@{
    ViewData["Title"] = "Edit";
}

<header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
    <div class="container-xl px-4">
        <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto mt-4">
                    <h1 class="page-header-title">
                        <span class="page-header-icon"><i data-feather="edit-3"></i></span>
                        Sayfa Seo Güncelle
                    </h1>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container-xl px-4 mt-n10">
    <form id="fromloading" asp-action="Edit" asp-antiforgery="true">
        <div class="row">
            <div class="col-xl-8">
                <div class="card card-header-actions mb-4">
                    <div class="card-header">
                        Tercüme edilecek alanlar
                    </div>
                    <div class="card-body">
                        @{
                            int langCount = 0;
                            int langCountPanel = 0;
                        }
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            @foreach (var item in (await languageService.GetListLangAsync()).Data.ToList())
                            {
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link @(langCount == 0 ? "active": "") "
                                            id="pills-lang-tab-@item.Code"
                                            data-bs-toggle="pill"
                                            data-bs-target="#pills-lang-@item.Code"
                                            type="button"
                                            role="tab"
                                            aria-controls="pills-lang-@item.Code"
                                            aria-selected="@(langCount == 0 ? "true": "false")">
                                        @item.Name
                                    </button>
                                </li>
                                langCount++;
                            }
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            @foreach (var item in Model.AppSeoLanguages)
                            {
                            <div class="tab-pane fade @(langCountPanel == 0 ? "show active" : "")" id="pills-lang-@item.Language_Code" role="tabpanel" aria-labelledby="pills-lang-tab-@item.Language_Code">
                                <div class="form-group">
                                    <label class="form-label" asp-for="AppSeoLanguages[langCountPanel].Title">Başlık - @item.Language_Code</label>
                                    <input type="text" class="form-control" asp-for="AppSeoLanguages[langCountPanel].Title">
                                    <span class="text-danger" asp-validation-for="AppSeoLanguages[langCountPanel].Title"></span>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" asp-for="AppSeoLanguages[langCountPanel].Keyword">Anahtar - @item.Language_Code</label>
                                    <textarea class="form-control" asp-for="AppSeoLanguages[langCountPanel].Keyword" rows="5" cols="5"></textarea>
                                    <span class="text-danger" asp-validation-for="AppSeoLanguages[langCountPanel].Keyword"></span>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" asp-for="AppSeoLanguages[langCountPanel].Description">Açıklama - @item.Language_Code</label>
                                    <textarea class="form-control" asp-for="AppSeoLanguages[langCountPanel].Description" rows="5" cols="5"></textarea>
                                    <span class="text-danger" asp-validation-for="AppSeoLanguages[langCountPanel].Description"></span>
                                </div>
                                <input type="hidden" asp-for="AppSeoLanguages[langCountPanel].Id" value="@item.Id" />
                                <input type="hidden" asp-for="AppSeoLanguages[langCountPanel].GuId" value="@item.GuId" />
                                <input type="hidden" asp-for="AppSeoLanguages[langCountPanel].AppSeoId" value="@item.AppSeoId" />
                                <input type="hidden" asp-for="AppSeoLanguages[langCountPanel].Language_Code" value="@item.Language_Code" />
                            </div>
                                langCountPanel++;
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="card mb-4">
                    <div class="card-header">Sabit Alanlar</div>
                    <div class="card-body">
                        <div class="form-group mb-3">
                            <label class="form-label" asp-for="AppSeo.Home">Sayfa Adi </label>
                            <input type="text" class="form-control" asp-for="AppSeo.Home">
                            <span class="text-danger" asp-validation-for="AppSeo.Home"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-label mb-1" for="switchOne">Durumu</label>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="switchOne" checked asp-for="AppSeo.IsActived">
                                <label class="form-check-label" for="switchOne"></label>
                            </div>
                            <span class="text-danger" asp-validation-for="AppSeo.IsActived"></span>
                        </div>
                        <div class="form-group">
                            <label class="form-label mb-1" for="switchOnePage">Statik Sayfa mı?</label>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="switchOnePage" checked asp-for="AppSeo.IsStaticPage">
                                <label class="form-check-label" for="switchOnePage"></label>
                            </div>
                            <span class="text-danger" asp-validation-for="AppSeo.IsStaticPage"></span>
                        </div>
                        <input type="hidden" asp-for="AppSeo.Id" />
                        <input type="hidden" asp-for="AppSeo.GuId" />
                        <input type="hidden" asp-for="AppSeo.IsDinamicPage" />
                        <input type="hidden" asp-for="AppSeo.AppSeoCode" />
                        <div class="bn">
                            <button type="submit" class="btn  btn-primary">Kaydet</button>
                            <a asp-action="Index" class="btn  btn-dark">Vazgeç</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


@section Validation{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
@section Scripts{
    <script>
    $(document).on("submit", "#fromloading", function () {
        $(this).find('button[type="submit"]')
        $(this).find('button[type="submit"]').attr("disabled", "true");
        $(this).find('button[type="submit"]').html('');
        $(this).find('button[type="submit"]').append('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Kaydet...')
        setTimeout(() => {
            $(this).find('.spinner-border').remove();
            $(this).find('button[type="submit"]').append('Kaydet');
            $(this).find('button[type="submit"]').attr("disabled", "false");
        }, 2000);
    });
    </script>

} *@
