@model QuestionVM
@{
    ViewData["Title"] = "Create";
}
@section Styles{
    
}

<header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
    <div class="container-xl px-4">
        <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto mt-4">
                    <h1 class="page-header-title">
                        <span class="page-header-icon"><i data-feather="edit-3"></i></span>
                        Soru Ekle
                    </h1>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container-xl px-4 mt-n10">
    <form id="fromloading" asp-action="Create" asp-antiforgery="true">
        <div class="row">
            <div class="col-xl-1"></div>
            <div class="col-xl-10">
                <div class="card mb-4">
                    <div class="card-header">Sabit Alanlar</div>
                    <div class="card-body">
                        <div class="form-group">
                            <label class="form-label" asp-for="Question.Title">Soru Adı</label>
                            <input type="text" class="form-control" asp-for="Question.Title">
                            <span class="text-danger" asp-validation-for="Question.Title"></span>
                        </div>
                        <div class="form-group">
                            <label class="form-label" asp-for="Question.Description">Açıklama</label>
                            <textarea class="form-control" asp-for="Question.Description" rows="5" cols="5"></textarea>
                            <span class="text-danger" asp-validation-for="Question.Description"></span>
                        </div>               
                        <div id="kategoriSelect" class="form-group">
                            <label class="control-label">Kategori</label>
                            <select asp-for="Question.CategoryId" asp-items="@(new SelectList(Model.Categories, "Id", "Title"))" class="form-control"></select>
                            <span asp-validation-for="Question.CategoryId"></span>
                            <span class="text-danger"></span>
                        </div>         
                        <div class="border border-dark rounded my-3 p-3">
                            <div class="d-flex justify-content-between">
                                <span>Cevaplar</span>
                            </div>
                            <div class="form-group my-3">
                                <label class="form-label" asp-for="Answers[0].Description">A:</label>
                                <input type="text" class="form-control" asp-for="Answers[0].Description">
                                <span class="text-danger" asp-validation-for="Answers[0].Description"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label class="form-label" asp-for="Answers[1].Description">B:</label>
                                <input type="text" class="form-control" asp-for="Answers[1].Description">
                                <span class="text-danger" asp-validation-for="Answers[1].Description"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label class="form-label" asp-for="Answers[2].Description">C:</label>
                                <input type="text" class="form-control" asp-for="Answers[2].Description">
                                <span class="text-danger" asp-validation-for="Answers[2].Description"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label class="form-label" asp-for="Answers[3].Description">D:</label>
                                <input type="text" class="form-control" asp-for="Answers[3].Description">
                                <span class="text-danger" asp-validation-for="Answers[3].Description"></span>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-label">Doğru Cevap</label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" asp-for="Question.CorrectAnswer" value="@Model.Answers[0].Description">
                                <label class="form-check-label">A</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" asp-for="Question.CorrectAnswer" value="@Model.Answers[1].Description">
                                <label class="form-check-label">B</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" asp-for="Question.CorrectAnswer" value="@Model.Answers[2].Description">
                                <label class="form-check-label">C</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" asp-for="Question.CorrectAnswer" value="@Model.Answers[3].Description">
                                <label class="form-check-label">D</label>
                            </div>
                        </div>
                        <input type="hidden" asp-for="Question.ExamId" />
                        <hr class="mt-3 mb-2">
                        <div class="bn">
                            <button type="submit" class="btn  btn-primary">Kaydet</button>
                            <a asp-action="Index" asp-route-id="@Model.Question.ExamId" class="btn  btn-dark">Vazgeç</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-1"></div>
        </div>
    </form>
</div>

@section Validation{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
@section Scripts{
    @* <script src="~/assets-cms/js/datetimepicker.js"></script> *@
    <script>
        
    </script>
    <script>
    $(document).on("submit", "#fromloading", function () {
        $(this).find('button[type="submit"]')
        $(this).find('button[type="submit"]').attr("disabled", "true");
        $(this).find('button[type="submit"]').html('');
        $(this).find('button[type="submit"]').append('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Kaydet...')
        setTimeout(() => {
            $(this).find('.spinner-border').remove();
            $(this).find('button[type="submit"]').append('Kaydet');
            $(this).find('button[type="submit"]').attr("disabled", "false");
        }, 2000);
    });
    </script>

}

